/*place global styles here */
html, body { @apply h-full overflow-hidden; }

/* body {
    background-color: #eee;
    background-image: url('/header-bg.png');
    background-size: cover;
} */

.highlight {
    font-weight: bold;
    color: #AA2417;
    font-size: larger;
}